<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tietong00.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{64,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,139}}</string>
                <key>sourceSize</key>
                <string>{64,139}</string>
            </dict>
            <key>tietong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,282},{64,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,138}}</string>
                <key>sourceSize</key>
                <string>{64,138}</string>
            </dict>
            <key>tietong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,142},{70,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,138}}</string>
                <key>sourceSize</key>
                <string>{70,138}</string>
            </dict>
            <key>tietong03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,142},{77,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,136}}</string>
                <key>sourceSize</key>
                <string>{77,136}</string>
            </dict>
            <key>tietong04.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,422},{87,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,135}}</string>
                <key>sourceSize</key>
                <string>{87,135}</string>
            </dict>
            <key>tietong05.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,282},{92,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,136}}</string>
                <key>sourceSize</key>
                <string>{92,136}</string>
            </dict>
            <key>tietong06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{79,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,139}}</string>
                <key>sourceSize</key>
                <string>{79,139}</string>
            </dict>
            <key>tietong07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,141}}</string>
                <key>sourceSize</key>
                <string>{70,141}</string>
            </dict>
            <key>tietong08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{67,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,141}}</string>
                <key>sourceSize</key>
                <string>{67,141}</string>
            </dict>
            <key>tietong09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{66,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,140}}</string>
                <key>sourceSize</key>
                <string>{66,140}</string>
            </dict>
            <key>tietong10.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,288},{71,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,139}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>tietong11.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,138},{77,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,134}}</string>
                <key>sourceSize</key>
                <string>{77,134}</string>
            </dict>
            <key>tietong12.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{79,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,134}}</string>
                <key>sourceSize</key>
                <string>{79,134}</string>
            </dict>
            <key>tietong13.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{73,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,138}}</string>
                <key>sourceSize</key>
                <string>{73,138}</string>
            </dict>
            <key>tietong14.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,145},{67,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,139}}</string>
                <key>sourceSize</key>
                <string>{67,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4d3baf78e8db3d333404666330aa75d:1/1$</string>
            <key>textureFileName</key>
            <string>zombie2.png</string>
        </dict>
    </dict>
</plist>
