<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wandou000.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,135},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>wandou001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>wandou002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{61,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,70}}</string>
                <key>sourceSize</key>
                <string>{61,70}</string>
            </dict>
            <key>wandou003.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,66},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>wandou004.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,146},{59,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,70}}</string>
                <key>sourceSize</key>
                <string>{59,70}</string>
            </dict>
            <key>wandou005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{63,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,70}}</string>
                <key>sourceSize</key>
                <string>{63,70}</string>
            </dict>
            <key>wandou006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,70}}</string>
                <key>sourceSize</key>
                <string>{63,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wandoudou.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed44feb4f6ad9d0e81921e8f9f254927:1/1$</string>
            <key>textureFileName</key>
            <string>wandoudou.png</string>
        </dict>
    </dict>
</plist>
