<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,125},{85,120}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{85,120}}</string>
                <key>sourceSize</key>
                <string>{87,144}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{49,98}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{49,98}}</string>
                <key>sourceSize</key>
                <string>{87,144}</string>
            </dict>
            <key>jiangshi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,249},{85,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,120}}</string>
                <key>sourceSize</key>
                <string>{85,120}</string>
            </dict>
            <key>jiangshi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,368},{87,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,118}}</string>
                <key>sourceSize</key>
                <string>{87,118}</string>
            </dict>
            <key>jiangshi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,122},{87,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,117}}</string>
                <key>sourceSize</key>
                <string>{87,117}</string>
            </dict>
            <key>jiangshi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{85,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,116}}</string>
                <key>sourceSize</key>
                <string>{85,116}</string>
            </dict>
            <key>jiangshi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,245},{79,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,118}}</string>
                <key>sourceSize</key>
                <string>{79,118}</string>
            </dict>
            <key>jiangshi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,247},{75,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,119}}</string>
                <key>sourceSize</key>
                <string>{75,119}</string>
            </dict>
            <key>jiangshi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,371},{73,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,120}}</string>
                <key>sourceSize</key>
                <string>{73,120}</string>
            </dict>
            <key>jiangshi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{71,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,121}}</string>
                <key>sourceSize</key>
                <string>{71,121}</string>
            </dict>
            <key>jiangshi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{67,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,121}}</string>
                <key>sourceSize</key>
                <string>{67,121}</string>
            </dict>
            <key>jiangshi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{67,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,121}}</string>
                <key>sourceSize</key>
                <string>{67,121}</string>
            </dict>
            <key>jiangshi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{68,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,119}}</string>
                <key>sourceSize</key>
                <string>{68,119}</string>
            </dict>
            <key>jiangshi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{70,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,118}}</string>
                <key>sourceSize</key>
                <string>{70,118}</string>
            </dict>
            <key>jiangshi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,365},{75,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,116}}</string>
                <key>sourceSize</key>
                <string>{75,116}</string>
            </dict>
            <key>jiangshi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,120},{78,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,115}}</string>
                <key>sourceSize</key>
                <string>{78,115}</string>
            </dict>
            <key>jiangshi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,241},{76,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,115}}</string>
                <key>sourceSize</key>
                <string>{76,115}</string>
            </dict>
            <key>jiangshi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,241},{76,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,115}}</string>
                <key>sourceSize</key>
                <string>{76,115}</string>
            </dict>
            <key>jiangshi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,123},{72,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,118}}</string>
                <key>sourceSize</key>
                <string>{72,118}</string>
            </dict>
            <key>jiangshi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,124},{68,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,119}}</string>
                <key>sourceSize</key>
                <string>{68,119}</string>
            </dict>
            <key>jiangshi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,371},{72,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,120}}</string>
                <key>sourceSize</key>
                <string>{72,120}</string>
            </dict>
            <key>jiangshi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{73,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,120}}</string>
                <key>sourceSize</key>
                <string>{73,120}</string>
            </dict>
            <key>jiangshi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,122}}</string>
                <key>sourceSize</key>
                <string>{78,122}</string>
            </dict>
            <key>jiangshi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{80,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,121}}</string>
                <key>sourceSize</key>
                <string>{80,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7c6c58cbcc4e8a31927f533bebcc4fd:1/1$</string>
            <key>textureFileName</key>
            <string>zombie.png</string>
        </dict>
    </dict>
</plist>
