<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruit1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,462},{47,57}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,307},{49,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{49,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{47,57}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{47,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,409},{51,57}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{51,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,120},{63,67}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{63,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,248},{51,57}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{51,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,185},{67,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{67,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,69},{73,63}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{73,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{67,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{67,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,358},{57,59}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{57,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,134},{61,67}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{61,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{57,59}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{57,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{45,59}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{45,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,368},{47,59}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{47,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,417},{43,53}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{43,53}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{49,61}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{49,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,197},{59,67}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{59,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,258},{49,61}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{49,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,350},{59,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{59,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{55,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{55,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,309},{57,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{57,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,417},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{53,53}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,246},{59,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{59,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{75,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{71,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{71,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{75,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,307},{41,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{41,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,69},{49,69}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{49,69}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fruit5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,185},{41,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{41,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fruit.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a940192adf0092c2d2690937e45e34d1:1/1$</string>
            <key>textureFileName</key>
            <string>fruit.png</string>
        </dict>
    </dict>
</plist>
