<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hongpingguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,229},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>jianguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,304},{61,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{61,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>mogu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{122,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{122,600}}</string>
                <key>sourceSize</key>
                <string>{200,600}</string>
            </dict>
            <key>zhusun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texiao.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a750e9756de1ea27ba391652988eeab:1/1$</string>
            <key>textureFileName</key>
            <string>texiao.png</string>
        </dict>
    </dict>
</plist>
